@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
*{
  box-sizing: border-box;
}
.content{
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);  
  width: 100vw;
  height: 100vh;
  position: relative;
}
.profile{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1100px;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 0px 0px 13px -2px white;
  height: 550px;
}
.information{
  display: flex;
  flex-direction: column;
  background-color: #fdfdfdbf;
  width: 250px;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: space-around;
}
.contacts{
  border: 2px solid #d671aa;
  border-radius: 12px;
  margin: 10px;
  font-size: 18px;
  width: 90%;
}
.contacts h1{
  margin: 10px;
  font-size: 15px;
}
.information-hobbies{
  border: 2px solid #d671aa;
  border-radius: 12px;
  margin: 10px;
  font-size: 18px;
}
.information-hobbies h1{
  margin: 10px;
  font-size: 15px;
}
.information-hobbies p{
  margin: 0;
    padding: 0 20px 10px;
    font-size: 13px;
}
.profile-img{
  display: flex;
  flex-direction: column;
  background-color: #fdfdfdbf;
  width: 280px;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  align-items: center;
  justify-content: space-around;
}

.name h1{
  text-align: center;
  font-size: 40px;
  font-family: 'Handlee', cursive;
  color: #c65ec0;
  margin: 0;
}
.name p{
  text-align: center;
  font-size: 12px;
  margin: 0;
  color: #444444;
  
}
.profile-info{
  border: 2px solid #d671aa;
  border-radius: 12px;
  margin: 10px;
  font-size: 18px;
  padding: 10px 0 20px;
}
.profile-info h1{
  margin: 10px;
  font-size: 15px;
}
.profile-info p{
  margin: 0;
    padding: 0 20px 10px;
    font-size: 13px;
}
.profile-img-profile-img{
  text-align: center;
  width: 100%;
}
.profile-img-profile-img img{
  width: 35%;
  border-radius: 10px;
}
.profile-info li{
  list-style: square;
  font-size: 13px;
  padding: 0 20px 5px 0 ;
}
.contacts ul{
  display: flex;
  justify-content: space-around;
  padding: 0;
}
.contacts ul li{
  list-style-type: none;
}
.contacts ul li a{
  text-decoration: none;
  color: #c65ec0;
  padding: 5px;
  border-radius: 4px;
}
.contacts ul li a:hover{
  background-color: #c65ec0;
  color: white;
}
.profile-info,
.contacts,
.information-hobbies{
  box-shadow: 0px 0px 20px 0px #d671aa;
  background-color: #ffffff54;
}
.moto h1{
  font-family: 'Handlee', cursive;
  color: white;
  font-size: 28px;
  margin: 10px 0;
}
body > div > section > section.middle > section > p:nth-child(2){
  font-size: 24px;
  font-weight: 800;
  margin: 10px 0;
}
.middle h1{
  font-family: 'Handlee', cursive;
  color: white;
  font-size: 28px;
  margin: 10px 0;
}
p span{
  color: white;
  font-weight: 800;
}
.moto p{
  text-align: center;
}
.middle{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.skils{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
.card{
  background-color: white;
  height: 120px;
  border-radius: 4px;
  width: 20%;
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  font-weight: 800;
}
.js{
  background-color: yellow;
}
.card i{
  margin: 0 auto;
  color: white;
  font-size: 38px;
}
.js i{
  color: rgb(0, 0, 0);
}
.java{
  background-color: rgb(255, 101, 101);
}
.angular{
  background-color: red;
}
.html{
  background-color: aliceblue;
}
.html i{
  color: red;
}
.css{
  background-color: lightcyan;
}
.css i{
  color: rgb(0, 132, 255);
}
.python{
  background-color: lightgreen;
}
.c{
  font-size: 26px;
  background-color: plum;
  color: purple;
  padding-left: 31px;
}
.cc{
  font-size: 26px;
  background-color: rgb(144, 188, 255);
  color: rgb(0, 121, 190);
  padding-left: 31px;
}